html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: auto;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  overflow-y: scroll;

  cursor: url('../src/images/kursor32.png'), default;
}


* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

button {
  cursor: url('../src/images/hoverkursor.png'), pointer;
}

a {
  cursor: url('../src/images/hoverkursor.png'), pointer;
}

li:hover {
  /* cursor: url('../src/images/hoverkursor.png'), pointer; */
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Magh';
  src: url('./fonts/Maghfirea.ttf');
}

@font-face {
  font-family: 'Medium';
  src: url('./fonts/CeraProMedium.otf');
}


@font-face {
  font-family: 'Light';
  src: url('./fonts/Cera-Pro-Light.otf');
}

@font-face {
  font-family: 'Black';
  src: url('./fonts/Cera-Pro-Black.otf');
}



