
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Magh';
  src: url('./fonts/Maghfirea.ttf');
}

@font-face {
  font-family: 'Medium';
  src: url('./fonts/CeraProMedium.otf');
}


@font-face {
  font-family: 'Light';
  src: url('./fonts/Cera-Pro-Light.otf');
}

@font-face {
  font-family: 'Black';
  src: url('./fonts/Cera-Pro-Black.otf');
}



